:root {
    --font-primary: 'Roboto', Helvetica, Arial, sans-serif;
}

body {
    font-family: var(--font-primary);
}

h1 {
    font-size: 4em;
    line-height: 1.1em;
    margin: 23px 0 23px 0;
    letter-spacing: -1.5px;
}